ms-reverse-list($list)

    if length($list) > 1
        if $list[0] > $list[length($list)]
            $MS-reversed-list = ()
            for $Value in $list
                $MS-reversed-list = push($Value, $MS-reversed-list)
            return $MS-reversed-list
    return $list

ms-pseudo-while($counter, $a, $op, $b, $array, $additional-condition, $condition)
    $MS-calc = ms-calc($counter, $a)
    if operate($op, $MS-calc, $b)
        if $additional-condition
            // detect if the value excedes the main base value
            if $MS-calc < $condition
                $array = push($array, $MS-calc)
        else
            $array = push($array, $MS-calc)
        $counter = $counter + $counter
        ms-pseudo-while($counter, $a, $op, $b, $array)
    else
        return $array

ms-generate-list($Value = 0, $Bases = $ms-base, $Ratios = $ms-ratio)

    // Create blank lists
    $MS-list = ()
    $MS-base-list = ()

    // Loop through each ratio AND each base
    // to generate all possibilities.
    for $Ratio in $Ratios
        for $Base in $Bases

            // Set base variables
            $MS-base-list = ()
            $Base-counter = 0

            // Seed list with an initial value
            $MS-base-list = $Base

            // Find values on a positive scale
            if $Value >= 0

                // Find lower values on the scale
                $MS-base-list = ms-pseudo-while(-1, ($Base, $Ratio), '>=', $Bases[0], $MS-base-list, false)

                // Ensure the list is smallest to largest
                $MS-base-list = ms-reverse-list($MS-base-list)

                // Find higher possible values on the scale
                $MS-base-list = ms-pseudo-while(1, ($Base, $Ratio), '<=', ms-calc($Value, $Bases[0], $Ratio), $MS-base-list, false)

            // Find values on a negitive scale
            else

                // Find lower values on the scale
                $MS-base-list = ms-pseudo-while(1, ($Base, $Ratio), '<=', $Bases[0], $MS-base-list, false)

                // Ensure the list is smallest to largest
                $MS-base-list = ms-reverse-list($MS-base-list)

                // Find higher possible values on the scale
                $MS-base-list = ms-pseudo-while(-1, ($Base, $Ratio), '>=', ms-calc($Value, $Bases[0], $Ratio), $MS-base-list, true, $Bases[0])

                // Trim outlier base.
                if length($Bases) > 1
                    for $i in (2..length($Bases))
                        if $MS-base-list[0] > $Bases[0]
                            $MS-new-list = ()
                            for $i in 2..length($MS-base-list)
                                $MS-new-list = push($MS-new-list, $MS-base-list[$i])
                            $MS-base-list = $MS-new-list

            // reverse list if its largest to smallest
            $MS-base-list = ms-reverse-list($MS-base-list)

            // Add new possibilities to the master list
            $MS-list = append($MS-list, $MS-base-list)

    // After all the possibilities are found, output a master list
    return $MS-list