@import "modular-scale/_ratios.styl"

$ms-base ?=  1em
$ms-ratio ?= $golden
$ms-range ?= null
$ms-fluid ?= true

@import "modular-scale/tests"

@import "modular-scale/_pow.styl"
@import "modular-scale/_calc.styl"
@import "modular-scale/_generate-list.styl"
@import "modular-scale/_sort-list.styl"
@import "modular-scale/_round-px.styl"
@import "modular-scale/_function.styl"
@import "modular-scale/_function-list.styl"

@import "modular-scale/_respond.styl"